/* 
    Created on : Nov 18, 2022, 7:29:20 PM
    Author     : LENOVO
*/
body {
    background: #CCC;
}
.grid-box {
    background: #FFF;
    padding: 25px;
    margin: 25px auto;
    border-radius: 15px;
    border: 1px solid #aaa;
}
h1 { margin: 0;}
.fail { color: red;}
.ok { color: green;}

ol.steps li { line-height: 2; font-size: 10pt; font-weight: 600; margin: 5px 0; }
.bg-gray { background-color: #EEE; }

.bg-gray,
.bg-white { padding-top: 20px; }
pre.sql-query {
    overflow-x: scroll;
    width: 600px;
    height: available;
}

div#info-box-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000075;
    width: 100%;
    height: 100%;
    display: none;
}

div#info-box-bg .ib {
    background: #FFF;
    margin: 5% 25%;
    border: 1px solid #a4a4a4;
    box-shadow: 0 0px 10px 0px #000;
    border-radius: 5px;
    overflow: hidden;
}

.ib-header {
    background: #EEE;
    border-bottom: 1px solid #c9c9c9;
    padding: 5px 15px;
}
.ib-message {
    padding: 15px;
}
.ib-footer {
    background: #EEE;
    border-top: 1px solid #c9c9c9;
    padding: 5px 15px;
    text-align: right;
}